{:paths ["src"]
 :deps  {clojure/math.combinatorics {:git/url "https://github.com/clojure/math.combinatorics"
                                     :git/sha "439b2ee174dd6eaeef24bc5d966507f1ec505617"}}
 :aliases
 {:neil {:project {:name aoc2024/aoc2024}}}}
